
.header {
    background: #fbfdff;
    width: 100%;
    height: 156px;
    z-index: 100;
    position: fixed;
    border-bottom: 1px solid #dee2e6;
}
.imgmusica {
    background-image: url('../images/kdkdk.png');
    background-repeat: no-repeat;
    height: 135px;
    z-index: 100;
}

.footer {
    background-image: url('../images/footer1.png');
    margin: 1px 0px 0px -10px;
    background-repeat: no-repeat;
    height: 154px;
}
.btnlog {
    width: 121px;
    height: 38px;
    background-color: #0332a02e;
    border-radius: 10px;
    float: right;
    margin-top: 50px;
    margin-right: 83px;
}
.headerLogo {
    background-image: url('../images/immamplogo1.jpg');
    margin: 7px 0px 0px 100px;
    background-repeat: no-repeat;
    height: 98px;
    width: -1px;
    z-index: 100;
    position: fixed;
}

