
.btnlog {
    width: 121px;
    height: 38px;
    background-color: #0332a02e;
    border-radius: 10px;
    float: right;
    margin-top: 50px;
    margin-right: 83px;
}
.headerLogo {
    background-image: url('../images/immamp.PNG');
    margin: 7px 0px 0px 100px;
    background-repeat: no-repeat;
    height: 98px;
    width: -1px;
    z-index: 100;
    position: fixed;
}
.imgNota {
    background-color: #004060;
    background-image: url('../images/bg.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: 10px;
}

